<%= form_for(@destroye_history) do |f| %>
  <% if @destroye_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@destroye_history.errors.count, "error") %> prohibited this destroye_history from being saved:</h2>

      <ul>
      <% @destroye_history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ident_code %><br>
    <%= f.text_field :ident_code %>
  </div>
  <div class="field">
    <%= f.label :action_time %><br>
    <%= f.time_select :action_time %>
  </div>
  <div class="field">
    <%= f.label :agent_id %><br>
    <%= f.number_field :agent_id %>
  </div>
  <div class="field">
    <%= f.label :portal_id %><br>
    <%= f.number_field :portal_id %>
  </div>
  <div class="field">
    <%= f.label :resonator_level %><br>
    <%= f.number_field :resonator_level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
